<% include partials/header %>

<div class = "container">
    <div class = "row">
        <h1 style = "text-align: center">Add a New Collection</h1>
        <div style = "width: 30%; margin: 35px auto;">
            <form action = "/collections" method = "POST">
                <div class="form-group" style = "margin: 10px auto;">
                    <input class = "form-control" type = "text" name = "country" placeholder = "issue country" required>
                <div>
                <div class="form-group" style = "margin: 10px auto;">
                    <input class = "form-control" type = "text" name = "name" placeholder = "stamp name" required>
                <div>
                <div class="form-group" style = "margin: 10px auto;">
                    <input class = "form-control" type = "text" name = "year" placeholder = "issue year" required>
                <div>
                <div class="form-group" style = "margin: 10px auto;">
                    <input class = "form-control" type = "text" name = "image" placeholder = "image url">
                <div>
                <div class="form-group" style = "margin: 10px auto;">
                    <input class = "form-control" type = "text" name = "description" placeholder = "description">
                <div>
                <div class="form-group" style = "margin: 10px auto;">
                    <button class = "btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href = "/collections"> Go Back</a>
        </div>

    
    </div>
    
</div>


<% include partials/footer %>